@media (max-width: 768px){
    nav a{
        display: none;
    }

    nav{
        justify-content: flex-end;
    }

    .menu{
        display: flex; /* flex para ele aparecer respeitando o display flex do nav e fique space around */
        margin-right: 15px;
    }

}
